{
    "extends": ["airbnb-base", "airbnb-typescript/base", "prettier", "plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "plugins": ["prettier", "@typescript-eslint"],
    "settings": {
        "import/resolver": {
            "node": {"extensions": [".ts"]}
        }
    },
    "rules": {
        "arrow-body-style": "off",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "import/prefer-default-export": "off",
        "prettier/prettier": ["error"]
    }
}
